{% extends "micropress/base.html" %}
{% load article_tags %}

{% block title %}Articles | {{ block.super }}{% endblock %}

{% block content %}

  {% if issue %}
  <h2>{{ issue.subname }}</h2>
  {% include "micropress/issue_paging.html" %}
  {% endif %}

  {% if is_paginated %}
  {% include "micropress/list_paging.html" %}
  {% endif %}

  <div class="headline_box">
  {% if issue %}
  {% most_recent issue.number %}
  {% else %}
  {% most_recent %}
  {% endif %}
  </div>

  {% if form %}
  <form method="post" action="">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  </form>
  {% endif %}

  {% for article in article_list %}
    {% article_content %}
  {% endfor %}

  {% if is_paginated %}
  {% include "micropress/list_paging.html" %}
  {% endif %}

  {% if issue %}
  {% include "micropress/issue_paging.html" %}
  {% endif %}

{% endblock %}
