{% extends "micropress/base.html" %}

{% block title %}Articles | {{ block.super }}{% endblock %}

{% block content %}

  {% if issue != None %}
  <h2>{{ issue.subname }}</h2>
  {% endif %}

  {% if is_paginated %}
  {% include "micropress/list_paging.html" %}
  {% endif %}

  {% if form %}
  <form method="post" action="">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  </form>
  {% endif %}

  {% for article in article_list %}
    {% include "micropress/article_card.html" %}
  {% endfor %}

  {% if is_paginated %}
  {% include "micropress/list_paging.html" %}
  {% endif %}

{% endblock %}
